<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

    <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load cmd_vel_mux/CmdVelMuxNodelet kobuki">
        <param name="yaml_cfg_file" value="$(find iap_bringup)/param/cmd_vel_mux.yaml"/>
        <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
        <remap from="cmd_vel_mux/input/default" to="/cmd_vel"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="kobuki_safety_controller" args="load kobuki_safety_controller/SafetyControllerNodelet kobuki">
        <remap from="kobuki_safety_controller/cmd_vel" to="cmd_vel_mux/input/safety"/>
        <remap from="kobuki_safety_controller/events/bumper" to="mobile_base/events/bumper"/>
        <remap from="kobuki_safety_controller/events/cliff" to="mobile_base/events/cliff"/>
        <remap from="kobuki_safety_controller/events/wheel_drop" to="mobile_base/events/wheel_drop"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="keyop_vel_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet kobuki">
        <rosparam file="$(find kobuki_keyop)/param/keyop_smoother.yaml" command="load"/>
        <remap from="keyop_vel_smoother/odometry" to="odom"/>
        <remap from="keyop_vel_smoother/smooth_cmd_vel" to="cmd_vel_mux/input/keyboard"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="joy_vel_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet kobuki">
        <rosparam file="$(find iap_bringup)/param/joy_smoother.yaml" command="load"/>
        <remap from="joy_vel_smoother/odometry" to="odom"/>
        <remap from="joy_vel_smoother/smooth_cmd_vel" to="cmd_vel_mux/input/joy"/>
    </node>

    <node launch-prefix="urxvt -e " pkg="kobuki_keyop" type="keyop" name="keyop" output="screen">
        <remap from="keyop/motor_power" to="mobile_base/commands/motor_power"/>
        <remap from="keyop/cmd_vel" to="keyop_vel_smoother/raw_cmd_vel"/>
        <param name="linear_vel_step"  value="0.05" type="double"/>
        <param name="linear_vel_max"   value="1.5"  type="double"/>
        <param name="angular_vel_step" value="0.33" type="double"/>
        <param name="angular_vel_max"  value="6.6"  type="double"/>
        <param name="wait_for_connection_" value="true" type="bool"/>
    </node>


</launch>
