.DS_Store

*.coverage
*.egg-info
*.log
*.swp
*.zip
*.bag

*.pyc
*.pyo

setup.*

build
bin
lib
cpp

installed
patched
wiped
msg_gen
srv_gen
*.cfgc

rososc
rososc_tutorials
rososc_utilities
yujin_ocs
.rosinstall.bak
